<div id="form-search" fxFlexAlign="end">

  <mat-form-field class="example-full-width">
    <input class="mat-body-1" type="search" matInput placeholder="Plant Search" #searchBox id="search-box" (keyup)="search(searchBox.value)">

    <mat-icon class="search-icon" matSuffix>search</mat-icon>
  </mat-form-field>

  <div class="search-results-wrapper">
    <div *ngFor="let region of plants | async" class="search-result">

      {{ region }}
      <!-- {{ region.name }}
        <div *ngFor="let location of region.locations | async" class="search-result">
          {{ location.name }}
          {{ location.fpy }}
        </div>

      {{ plant.region }}
      
      <a (click)="getPlantDetails(plant)">{{ plant.location }}</a> -->

    </div>
  </div>

  <div class="search-results-wrapper">
    <div *ngFor="let plant of plants | async" class="search-result">

      {{plant}}
      {{ plant.region }}
      
      <a (click)="getPlantDetails(plant)">{{ plant.location }}</a>

    </div>
  </div>

</div>