<mat-toolbar>

  <mat-icon class="nav-icon">dashboard</mat-icon>

  <span class="">Plant Selection</span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <span class="nav-bg-grey">
    
    <div id="form-search" fxFlexAlign="end">

      <mat-form-field class="example-full-width">
        <input class="mat-body-1" type="search" matInput placeholder="Plant Search" #searchBox id="search-box" (keyup)="search(searchBox.value)">
        
        <mat-icon class="search-icon" matSuffix>search</mat-icon>
      </mat-form-field>

      <div>
        <div *ngFor="let plant of plants | async"
            (click)="getPlantDetails(plant)" class="search-result" >
          {{plant.location}}
        </div>
      </div>

    </div>
    
  </span>

  <mat-icon class="nav-icon">notifications_none</mat-icon>

  <span class="divider"></span>

  <mat-icon class="nav-icon">power_settings_new</mat-icon>

  <span class="divider"></span>

  <span class="nav-element mat-subheading-2" fxFlexAlign="center">Hi,
    <span class="accent">John Doe</span>
  </span>
  <img src="../../assets/images/portrait.jpg" height="64px" width="64px">
</mat-toolbar>