<h3>MatTable With MatTableDataSource Example</h3>

<mat-form-field>
  <input matInput [formControl]="filter">
</mat-form-field>

<div class="demo-table-container demo-mat-table-example mat-elevation-z4">

  <app-table-header-demo (shiftColumns)="displayedColumns.push(displayedColumns.shift())"
                     (toggleColorColumn)="toggleColorColumn()">
  </app-table-header-demo>

  <mat-table 
    [dataSource]="matTableDataSource" 
    [trackBy]="userTrackBy" 
    matSort
    #sortForDataSource="matSort">

    <!-- Column Definition: Name -->
    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Plant Name
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.location}} </mat-cell>
    </ng-container>

    <!-- Column Definition: Color -->
    <ng-container matColumnDef="region">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Region
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.region}} </mat-cell>
    </ng-container>

    <!-- Column Definition: Location -->
    <ng-container matColumnDef="yieldData">
      <mat-header-cell *matHeaderCellDef 
                       mat-sort-header>
        Yield
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.yieldData[4].value}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>

  <mat-paginator #paginatorForDataSource
                 [length]="_peopleDatabase.data.length"
                 [pageSizeOptions]="[10, 25, 100]">
  </mat-paginator>
