@import '~@angular/material/theming';
@import '~angular-tree-component/dist/angular-tree-component.css';

@include mat-core();

$idc-primary: mat-palette($mat-blue, A200);
$idc-accent:  mat-palette($mat-green, A700);
$idc-warn:    mat-palette($mat-red, 400);

$idc-theme: mat-light-theme($idc-primary, $idc-accent, $idc-warn);

@include angular-material-theme($idc-theme);


// Custom Color classes and variables

$primary: mat-color($idc-primary);
$accent: mat-color($idc-accent);
$warn: mat-color($idc-warn);
$light-grey: mat-color(mat-palette($mat-grey, 200));
$light-blue: mat-color(mat-palette($mat-blue, 50));

.primary {
  color: $primary;
}
.accent {
  color: $accent;
}
.warn {
  color: $warn;
}
.bg-primary {
  background-color: $accent;
}
.bg-accent {
  background-color: $accent;
}
.bg-warn {
  background-color: $warn;
}

// Custom Typography classes and variables
$idc-typography: mat-typography-config(
  $font-family: '"Open Sans", "Helvetica Neue", sans-serif'
);
@include angular-material-typography($idc-typography);

$normal: 400;
$semi-bold: 600;
$bold: 700;

.semi-bold {
  font-weight: $semi-bold
}


// Global CSS
html, body, #map, agm-map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f3f3f3;
}
#map {
  position: absolute;
  z-index: 1;
}

agm-map {
  position: absolute;
  z-index: 1;
}

mat-toolbar {
  height: 64px!important;
  padding: 0 0 0 20px!important;
  background: white!important;
  z-index: 1000;
  position: absolute;
  -webkit-box-shadow: -1px 0px 14px -2px rgba(0,0,0,0.25);
  -moz-box-shadow: -1px 0px 14px -2px rgba(0,0,0,0.25);
  box-shadow: -1px 0px 14px -2px rgba(0,0,0,0.25);
}
.overlay {
  z-index: 1000;
  position: absolute;
  top: 100px;
  right: 100px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}
.vert-spacer-30 {
  margin: 30px 0;
}

.nav-icon {
  margin: 0 18px 0 0;
  color: mat-color(mat-palette($mat-grey, 400));
}
.search-icon {
  color: mat-color(mat-palette($mat-grey, 400));
  margin: 0 0 0 15px;
  font-size: 24px!important;
  position: absolute;
  top: 12px;
  right: 0px;
}
.nav-element {
  margin: 0 25px 0 0;
}

.mat-input-element {
  padding-right: 40px!important;
}

.divider {
  border-left: 1px solid $light-grey;
  height: 36px;
  padding: 0 10px;
}

.nav-bg-grey {
  min-width: 150px;
  max-width: 300px;
  width: 100%;
  margin: 0 25px 0 0;
  padding: 0 20px;
  font-size: 14px;
  font-style: oblique;
  color: mat-color(mat-palette($mat-grey, 400));
  background-color: #f3f3f3;
  height: 64px;
}

#form-search {
  margin-top: 8px;
}
.mat-form-field-underline {
  color: #eee!important;
  background: #eee!important;
  bottom: 0!important;
  height: 0!important;
}
.mat-form-field-underline .mat-form-field-ripple {
  height: 0!important;
}

.example-full-width {
  width: 100%;
}
.icon-reverse {
  color: white;
}
.mat-button-toggle {
  background-color: white;
}
.mat-button-toggle-checked {
  background-color: mat-color($idc-accent);
  color: white;
}

.sidenav-container {
  width: 100%;
  height: 100%;
  background: none;
}
.sidenav-container mat-sidenav {
  max-width: 332px;
  width: 332px;
}
.sidebar {
  padding: 90px 30px 0;
}
.col-toggle-buttons {
  margin-right: 25px;
}
.hover-window-content {
  z-index: 1000;
  margin-right: 0;
  padding-right: 0;
  height: auto;
  // height: 400px;
  // width: 120px;
}
.hover-window-content > .gm-style-iw {
  padding-right: 0;
}
hr {
  border: 0;
  height: 0;
  padding: 0;
  margin: 0 0 15px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);	
}
.hover-window-content > .yield-data {
  margin-bottom: 5px;
  color: mat-color(mat-palette($mat-grey, 800));
  font-weight: 400;
}
.hover-window-content > .mat-subheading-2 {
  margin-bottom: 10px;
  font-weight: 600;
}
.hover-table-icon {
  width: 25px;
}
.hover-table-cat {
  width: 50px;
}
.hover-table-value {
  font-weight: 600;
  width: 50px;
  text-align: right;
}
.si-frame.si-content-wrapper {
  padding: 20px 20px 15px;
  background-color: #fff; 
}

.click-window-content {
  width: 130px;
}

.custom-heading {
  height: 51px;
  text-align: center;
  padding: 0;
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1; 
  color: white;
}

.custom-heading > .mat-title {
  margin-top: 12px;
}

.custom-content {
  /* color: #333; */
  margin: 30px 0 0;
  padding-bottom: 0;
  text-align: center;
  background: none;
  position: relative;
  max-height: inherit;
  overflow: auto;
  z-index: 2; 
}

.custom-content > .mat-title {
  margin: 0;
  padding: 0;
  font-weight: 600;
  /* font-size: 20px; */
}
.si-content {
  // height: 200px;
  max-height: 400px!important;
  margin-right: 0;
  padding-right: 0;
}
.icon-floating {
  position: absolute;
  top: 75px;
  left: 30px;
  z-index: 5000;
}

.icon-header {
  margin: 20px 0 10px;
}
.icon-header > .mat-subheading-2 {
  // font-size: 18px;
  font-weight: 600;
  color: #444;
  padding-bottom: 0;
  margin-bottom: 0;
}
.node-content-wrapper {
  width: 100%;
}
.tree-node-level-1 {
  border-bottom: 1px solid $light-grey;
  padding: 12px 0 10px 0;
}
.tree-node-level-2 {
  padding: 12px 0 2px 0;
}
.sidenav-row-value {
  text-align: right;
  font-weight: 600;
}
.tree-node-level-1 .sidenav-row-name, .tree-node-level-1 .sidenav-row-value {
  font-size: 14px;
}
.tree-node-level-2 .sidenav-row-name, .tree-node-level-2 .sidenav-row-value {
  font-size: 12px;
}

.toggle-children-wrapper .toggle-children {
  height: 18px;
  width: 18px;
  top: 3px;
}

.toggle-children-wrapper-collapsed .toggle-children {
  background-image: url('/assets/images/icon-plus-grey.png');
}

.toggle-children-wrapper-expanded .toggle-children {
  -webkit-transform: none;
  transform: none;
  background-image: url('/assets/images/icon-minus-grey.png');
}

.node-content-wrapper-active, .node-content-wrapper.node-content-wrapper-active:hover, .node-content-wrapper-active.node-content-wrapper-focused {
    background: $light-blue;
}

.sidenav-quality-section {
  margin-top: 30px;
  padding: 6px;
}
.sidenav-quality-box-wrapper {
  margin-bottom: 20px;
}
.sidenav-quality-box {
  background: white;
  height: 74px;
  -webkit-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.18);
  -moz-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.18);
  box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.18);
  padding: 5px;
  text-align: center;
}
.sidenav-quality-box-empty {
  background: none;
}
.sidenav-quality-value {
  margin-top: 5px;
  margin-left: -5px;
}
.icon-direction {
  width: 18px;
  height: 18px;
  background-repeat: none;
  display: inline-block;
  top: 3px;
  position: relative;
}
.icon-down-red {
  background-image: url('/assets/images/icon-down-red.png');
  width: 18px;
  height: 18px;
  background-repeat: none;
  display: inline-block;
  top: 4px;
  position: relative;
  
}
.icon-up-green {
  background-image: url('/assets/images/icon-up-green.png');
  width: 18px;
  height: 18px;
  background-repeat: none;
  display: inline-block;
  top: 4px;
  position: relative;
}

.sidenav-quality-value.mat-caption {
  font-weight: 600;
}

.sidenav-quality-caption.mat-caption {
  margin-top: 1px;
  font-size: 11px;
  line-height: 14px;
}
.button-wrap {
  margin: 40px 0 20px;
  text-align: center;
}
.button-submit {
  width: 140px;
}
.button-submit .mat-button-wrapper {
  color: white;
}

.isHidden {
  display: none
}
// .isVisible {
//   display: block
// }
.small-squeeze {
  padding: 0 3px;
}

/* Structure */
.list-view-container {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  padding: 0 35px;
}


.example-header {
  min-height: 64px;
  display: flex;
  align-items: baseline;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
}

.mat-table {
  overflow: auto;
}

.mat-sort-header-arrow {
  color: $primary;
}
.mat-sort-header-stem {
  background: none!important;
}
.mat-sort-header-container {
  justify-content: inherit;
}
.mat-dialog-container {
  -webkit-box-shadow: -1px 0px 14px -2px rgba(0,0,0,0.10)!important;
  -moz-box-shadow: -1px 0px 14px -2px rgba(0,0,0,0.10)!important;
  box-shadow: -1px 0px 14px -2px rgba(0,0,0,0.10)!important;
}
.popper-wrapper {
  width: fit-content;
  padding-right: 15px;
}
.popper-wrapper:hover {
  text-decoration: underline;
}

.ngxp__container {
  border: none!important;
  -webkit-box-shadow: -1px 0px 14px -2px rgba(0,0,0,0.150)!important;
  -moz-box-shadow: -1px 0px 14px -2px rgba(0,0,0,0.150)!important;
  box-shadow: -1px 0px 14px -2px rgba(0,0,0,0.150)!important;
  padding: 20px!important;
  z-index: 1000;
  background-color: white;
}

.ngxp__container[x-placement^="right"] {
  margin-left: 10px;
}

.ngxp__container[x-placement^="right"] .ngxp__arrow {
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent!important;
  -webkit-box-shadow: -1px 0px 14px -2px rgba(0,0,0,0.150)!important;
  -moz-box-shadow: -1px 0px 14px -2px rgba(0,0,0,0.150)!important;
  box-shadow: -1px 0px 14px -2px rgba(0,0,0,0.150)!important;
}