@import '~@angular/material/theming';

@include mat-core();

$idc-primary: mat-palette($mat-blue, A200);
$idc-accent:  mat-palette($mat-green, A700);
$idc-warn:    mat-palette($mat-red, 400);
$light-grey: mat-color(mat-palette($mat-grey, 200));

$idc-theme: mat-light-theme($idc-primary, $idc-accent, $idc-warn);

@include angular-material-theme($idc-theme);

$primary: mat-color($idc-primary);
$accent: mat-color($idc-accent);
$warn: mat-color($idc-warn);

.primary {
  color: $primary;
}
.accent {
  color: $accent;
}
.warn {
  color: $warn;
}
.bg-primary {
  background-color: $accent;
}
.bg-accent {
  background-color: $accent;
}
.bg-warn {
  background-color: $warn;
}

$idc-typography: mat-typography-config(
  $font-family: '"Open Sans", "Helvetica Neue", sans-serif'
);

@include angular-material-typography($idc-typography);


html, body, #map, agm-map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  z-index: 1;
}

agm-map {
  position: absolute;
  z-index: 1;
}

mat-toolbar {
  height: 64px!important;
  padding: 0 0 0 20px!important;
  background: white!important;
  z-index: 1000;
  position: absolute;
  -webkit-box-shadow: -1px 0px 14px -2px rgba(0,0,0,0.25);
  -moz-box-shadow: -1px 0px 14px -2px rgba(0,0,0,0.25);
  box-shadow: -1px 0px 14px -2px rgba(0,0,0,0.25);
}
.overlay {
  z-index: 1000;
  position: absolute;
  top: 100px;
  right: 100px;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

.nav-icon {
  margin: 0 18px 0 0;
  color: mat-color(mat-palette($mat-grey, 400));
}
.search-icon {
  color: mat-color(mat-palette($mat-grey, 400));
  margin: 0 0 0 15px;
  font-size: 24px!important;
  position: absolute;
  top: 12px;
  right: 0px;
}
.nav-element {
  margin: 0 25px 0 0;
}

.mat-input-element {
  padding-right: 40px!important;
}

.divider {
  border-left: 1px solid $light-grey;
  height: 36px;
  padding: 0 10px;
}

.nav-bg-grey {
  min-width: 150px;
  max-width: 300px;
  width: 100%;
  margin: 0 25px 0 0;
  padding: 0 20px;
  font-size: 14px;
  font-style: oblique;
  color: mat-color(mat-palette($mat-grey, 400));
  background-color: #f3f3f3;
  height: 64px;
}

#form-search {
  margin-top: 8px;
}
.mat-form-field-underline {
  color: #eee!important;
  background: #eee!important;
  bottom: 0!important;
  height: 0!important;
}
.mat-form-field-underline .mat-form-field-ripple {
  height: 0!important;
}

.example-full-width {
  width: 100%;
}
.icon-reverse {
  color: white;
}
.mat-button-toggle {
  background-color: white;
}
.mat-button-toggle-checked {
  background-color: mat-color($idc-accent);
  color: white;
}

.example-sidenav-fab-container {
  width: 100%;
  height: 100%;
  background: none;
}
.example-sidenav-fab-container mat-sidenav {
  max-width: 332px;
  width: 332px;
}
.sidebar {
  padding: 100px 20px 0;
}
.col-toggle-buttons {
  margin-right: 25px;
}
.hover-window-content {
  z-index: 1000;
  margin-right: 0;
  padding-right: 0;
  height: auto;
  // height: 400px;
  // width: 120px;
}
.hover-window-content > .gm-style-iw {
  padding-right: 0;
}
.hover-window-content > hr {
  border: 0;
  height: 0;
  padding: 0;
  margin: 0 0 15px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);	
}
.hover-window-content > .yield-data {
  margin-bottom: 5px;
  color: mat-color(mat-palette($mat-grey, 800));
  font-weight: 400;
}
.hover-window-content > .mat-subheading-2 {
  margin-bottom: 10px;
  font-weight: 700;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  // min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
.hover-table-icon {
  width: 25px;
}
.hover-table-cat {
  width: 50px;
}
.hover-table-value {
  font-weight: 700;
  width: 50px;
  text-align: right;
}
.si-frame.si-content-wrapper {
  padding: 20px 20px 15px;
  background-color: #fff; 
}

.click-window-content {
  width: 130px;
}

.custom-heading {
  height: 51px;
  text-align: center;
  padding: 0;
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1; 
  color: white;
}

.custom-heading > .mat-title {
  margin-top: 12px;
}

.custom-content {
  /* color: #333; */
  margin: 30px 0 0;
  padding-bottom: 0;
  text-align: center;
  background: none;
  position: relative;
  max-height: inherit;
  overflow: auto;
  z-index: 2; 
}

.custom-content > .mat-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  /* font-size: 20px; */
}
.si-content {
  // height: 200px;
  max-height: 400px!important;
  margin-right: 0;
  padding-right: 0;
}
.section-icon {
  position: absolute;
  top: 105px;
  left: 40px;
  z-index: 5000;
}
.section-icon > .mat-subheading-2 {
  font-size: 18px;
  font-weight: 700;
  color: #444;
  padding-bottom: 0;
  margin-bottom: 0;
}